[2016-04-13 17:26] paolovisintin opened #1 "bash installer - problem with crontab scripts"
when running /opt/homer_rotate i receive :
BI connect('homer_data:localhost:3306','homer_user',...) failed: Access denied for user 'homer_user'@'localhost' (using password: YES) at /opt/homer_mysql_partrotate_unixtimestamp.pl line 57.
DBI connect('homer_data:localhost:3306','homer_user',...) failed: Access denied for user 'homer_user'@'localhost' (using password: YES) at /opt/homer_mysql_new_table

[2016-04-13 17:32] lmangani commented on #1
good catch! fixing....

[2016-04-13 17:56] lmangani commented on #1
Patched in 47eccc62b890d3f9a299b256007e9c8718e9dd31 could you check if its smooth and confirm?

[2016-04-14 12:15] paolovisintin commented on #1
Recreating VM and installing via bash script [Debian 8], still getting errors :

[code]

[2016-04-14 12:17] lmangani commented on #1
Hi Paolo

could you check the credentials in the homer_rotate script and kamailio cfg and confirm whats there? Seems still homer user....

[2016-04-14 12:23] paolovisintin commented on #1
Hi Lorenzo,
credentials are the same!
despite looking in homer_mysql_new_table.pl i can see hardcoded values:

[code]

[2016-04-14 12:26] paolovisintin commented on #1
After correcting credentials I see other warnings :

[code]

[2016-04-14 12:41] adubovikov commented on #1
please disable strict mode in your my.cnf

[2016-04-14 12:43] paolovisintin commented on #1
After changing /etc/mysql/my.cnf (adding sql-mode="") ok for `Invalid default value` !

[2016-04-14 13:00] lmangani commented on #1
two tier fix:

patch installer and deb/rpm installers for pl file credentials (done)
in parallel a fix on the schema input files will take place

[2016-06-23 00:38] credd144 opened #2 "Generated MySQL credentials not updated in rotate script"
Using the shell script to install on Debain 8, eventually found that the rotate script wasn't completing as the rotation.ini file still has default homer_user and homer_password in the [MySQL] section.

[2016-06-23 12:15] lmangani commented on #2
Patched in ca852c21e4cb3ae17cedff3b66777baacfd5eb6d
Thanks for the report!

[2016-06-23 12:15] #2 closed

[2016-06-23 18:08] mbeckwell commented on #2
Even with the newly patched ca852c2, this is still a problem.

It appears that while the bash script is reading the variables sqlhomeruser, sqlhomerpassword, and sqlpassword... they aren't actually replacing the contents of DB_USER/DB_PASS unless $sqlhomeruser and $sqlhomerpassword are blank (lines 235 / 240)

I think we would need something like this around line 227:

read sqlhomeruser
- DB_USER=

[2016-06-23 18:22] mbeckwell opened #3 "Typo in path to $WEBROOT/api/preferences.php"
On the main homer_installer.sh script, at approximately line 571, the path to the preferences.php appears to have a typo on it:

Currently is:
echo "         '$WEBROOT/a[o/preferences.php'"

I believe it should be:
echo "         '$WEBROOT/api/preferences.php'"

[2016-06-23 19:00] lmangani commented on #3
Thanks for flagging this @mbeckwell
Fixed in a93b2b92e6297e0e59d33263ee9afdc398f5d249

[2016-06-23 19:00] #3 closed

[2016-06-23 19:06] lmangani commented on #2
Moved the global declaration to the right placewith  fdf22e2aa3a557cdc50c4516142889c8ed0f95b1

[2016-07-11 19:12] fagnersilva opened #4 "Does not work after installation script"
After running the install script Homer 5 " bash <( curl -s https://cdn.rawgit.com/sipcapture/homer-installer/master/homer_installer.sh ) ," the kamailio lose records of extensions and this does not generate log to capture the web interface, I do not know what happens , can you help me?

[2016-07-11 19:53] lmangani commented on #4
@fagnersilva HOMER is not meant to be running on the same Kamailio handling your calls and registrations. It requires a dedicated host acting as collector. Please check out our Wiki or the Installer Readme (installer expects a vanilla system and will demolish any existing setup)

The typical setup will have a Capture Server (sipcapture module kamailio) exclusively dedicated to the role and one or

[2016-07-11 19:56] #4 closed

[2016-08-04 03:34] emdici commented on #1
Hi guy's

I'm trying to install Homer on centos 7 with the bash script...
after a couple of installs i find out the right way to make it work...

yum -y install nano
nano /etc/selinux/config        selinix=disabled

systemctl disable firewalld
systemctl stop firewalld
systemctl status firewalld

yum install -y perl-DBD-MySQL

bash <( curl -s https://cdn.rawgit.com/sipcapture/homer-installer/master

[2016-08-04 08:40] lmangani commented on #1
@voipmarco could you please open your own separate issue? It seems unrelated to this thread.
At first sight it seems your DB is not persistent. Is this a normal host or some virtualization/container?

[2016-08-04 09:04] voipmarco opened #5 "issue after system reboot or mysqld service restart"
Hi guy's

I'm trying to install Homer on centos 7 with the bash script...
after a couple of installs i find out the right way to make it work...

yum -y install nano
nano /etc/selinux/config selinix=disabled

systemctl disable firewalld
systemctl stop firewalld
systemctl status firewalld

yum install -y perl-DBD-MySQL

bash <( curl -s https://cdn.rawgit.com/sipcapture/homer-installer/master/homer_

[2016-08-04 09:12] emdici commented on #5
Hi Lorenzo,

first of all thank you for the fast answer, i'm sorry for my wrong posting... it's my first time :)

At first sight it seems your DB is not persistent. Is this a normal host or some virtualization/container?

-my system is on centos7 virtual machine on an esxi server in a datacenter

[2016-08-08 04:04] voipmarco commented on #5
Hi,
Ok, now i changed my storage on vm to persistent and installed a fresh centos 7 and Homer but i regcognize the exact same problems...

/Marco

[2016-08-20 21:38] lmangani commented on #5
Hi Marco,

The database is as persistent as your volumes on a normal install - check your VM settings/preferences and feel free to reopen if you have logs or other information.

[2016-08-20 21:38] #5 closed

[2016-08-21 04:48] emdici commented on #5
Hi Lorenzo,

fresh install centos7 wit install script:

basically i tried to install the script on:
1. VM with HDD setted to persistent storage
2. On a centos7 installed directly(NO VM) on a raid10 dell poweredge 2950
3. On a Workstation 12 on my PC

issue: after restarting service mysqld i'm not able to login to the UI (email and password combination not recognized)
- all services are running wit

[2016-08-21 09:21] lmangani commented on #5
I think the following error is the culprit:

[code]

login with mysql -u root -p and check the current policy rules by:

[code]

Then you can change any of the above variables at your will:

[code]

[2016-08-22 01:50] emdici commented on #5
Hi Lorenzo!

i feel soo stupid.. ;)

i installed all from scratch again, after install i login with default
credentials and changed the admin password to a password with that matches
the policy needings and now everything works !!!

very appreciate your help

Thanks Marco

On Sun, Aug 21, 2016 at 4:21 PM, Lorenzo Mangani notifications@github.com
wrote:

[2016-08-24 00:42] bjordan9 opened #6 "Bash Installer Missing /opt/rotation.ini"
Just a little background, this was a reinstall from an older version. When installing utilizing the bash script on debian 8 I had the error that the file /opt/rotation.ini was missing. After copying the files from the git repo in /usr/src/homer-api/scripts/ and rerunning the install script everything seemed fine.

I think the culprit is around the if block near line 380 in the homer_installer.sh s

[2016-08-24 01:10] bjordan9 commented on #6
I am new to the github experience, but I added a pull request #7 that I think fixes the issue. It also includes a fix for kamailio to use a sources.list.d entry instead of appending into the sources.list file every time the script runs.

[2016-09-01 19:40] nedludd opened #8 "Password loop"
Installing on Centos 7.1 (tried on 7.2 as well) and while the "homer-installer-5.0.5-1.x86_64" is being installed I get prompted for "New password" over and over.

Was prompted for "New password" and "Re-enter new password" over 100 times before I gave up.

[2016-09-01 19:52] lmangani commented on #8
The CentOS setup should provide the root password to use as part of the prompt, while any other custom password must comply in complexity with the security settings of MySQL which are quite something in the recent versions - the output is not always helpful, so If you have a setup log we can confirm so.

[2016-09-01 19:53] lmangani commented on #6
can you confirm if this can be closed post-merge? thanks in advance!

[2016-09-01 20:19] nedludd commented on #8
Hmm, I got the installer to complete at least.  What I did was take the password from the log, in this case:

`Starting mysql secure installation [ 2zsh??pFC.<8 ]`

And enter it at the prompt. This let the installer complete.  There are other errors, as you'll see in the attached log.   The UI starts up, but I'm not sure if anything will work.
[homer_installer.log.txt](https://github.com/sipcaptur

[2016-09-01 21:05] bjordan9 commented on #6
It worked for me so I will close out the issue.

[2016-09-01 21:05] #6 closed

[2016-09-05 14:02] andycol opened #9 "issue with install script"
after running the install script
kamalio fails to start and the error is

0(11390) : <core> [cfg.y:3436]: yyerror_at(): parse error in config file /etc/kamailio/kamailio.cfg, line 44, column 8-16: syntax...

[2016-09-05 14:04] lmangani commented on #9
Please include /etc/kamailio/kamailio.cfg, line 44

[2016-09-05 14:06] andycol commented on #9
listen=HOMER_LISTEN_PROTO:HOMER_LISTEN_IF:HOMER_LISTEN_PORT

[2016-09-05 14:09] lmangani commented on #9
Ok then we need to you review your config block where the substitutions are set. My blind guess is your password uses an illegal char unescaped or something on that line... defaults are:

[code]

[2016-09-05 14:10] andycol commented on #9
i chose the default password when installing

[2016-09-05 14:18] andycol commented on #9
if i add the variables manually i now get this error
ERROR: <core> [cfg.y:3299]: yyparse(): cfg. parser: failed to find command report_capture (params 2) 0(12554)...R: <core> [

[2016-09-05 14:29] lmangani commented on #9
@andycol its hard if not impossible to troubleshoot without knowing the values you have set

[2016-09-05 14:30] andycol commented on #9
@lmangani how can i contact you off here?

[2016-09-21 19:37] iamninjabob opened #11 "Kamailio crashing when receiving HEP packets"
I have installed the homer packages from the curl script and everything seems to be running with the exception of a full crash when kamailio receives any packets.

Below i have listed the SYSLOG. I currently have kamailio running in debug mode so there should be quite a bit of information.

A common messageI keep seeing is

	Sep 14 11:29:08 HomerQA /usr/sbin/kamailio[25350]: DEBUG: <core> [parser/

[2016-09-22 13:05] #11 closed

[2016-11-11 09:20] michelep opened #13 "Data collected inside DB but not shown on GUI"
Hi all, i've installed Homer 5 on a vanilla Debian 8 using provided script. After configuring siptrace on my OpenSIPS server, Homer MySQL DB was populated with VoIP datas *but* on GUI frontend, after login, i cant' see any data/nothing. Just a "No Data Available.".

Any hint ?

Michele

[2016-11-11 09:41] giavac commented on #13
Hi Michele,
please double check the Time Range (top right) and ensure it's consistent with the data you have in the DB.

If it is, e.g. it refers to a time range that has data in the DB, then you could trace the activity on port 3306 and verify the queries from the GUI are correctly received by the DB, and what responses or errors are provided by the DB.

Giacomo

[2016-11-11 09:56] michelep commented on #13
IT WORKS ! Thanks, i didn't see time range in the top left of the frontend: correctly setting of datetime fix the problem and now i can see voip traffic data.

Thanks a lot.

Michele

[2016-11-11 09:58] giavac commented on #13
You're welcome Michele.
Enjoy Homer!

Giacomo

[2016-11-11 09:59] #13 closed

[2016-12-21 18:14] oza4h07 opened #14 "Cannot download deb file from cdn.rawgit.com"
Hello,

Bellow command fails with 404 Not Found:
wget https://cdn.rawgit.com/sipcapture/homer-installer/master/latest/homer-installer_5.0.5-1_amd64.deb --no-check-certificate
...
404 Not found

Any hint or workaround ?

Best regards

[2017-03-24 09:49] yuqian08 opened #16 "Duplicate entry '1' for key 'PRIMARY' error when install HOMER through script"
here is the full log, i am use Debian8, and followed the homer-installer, but always got this error
Patching Homer configuration...
Can't open /opt/homer_rotate: No such file or directory.
Can't open /opt/homer_rotate: No such file or directory.
chmod: cannot access ‘/opt/homer_rotate’: No such file or directory
chmod: cannot access ‘/opt/homer_rotate’: No such file or directory
Can't open /opt/ho

[2017-03-24 10:06] lmangani commented on #16
Could you confirm if the folder ```/usr/src/homer-api/scripts/mysql/``` exists and its contents please?

[2017-03-24 10:59] lmangani commented on #16
Patch pushed, could you kindly re-test if the issue is addressed?

[2017-03-25 21:24] josemapm opened #17 "Duplicate entry '1' for key 'PRIMARY' and Kamailio failed to start."
Hi, I want to try homer with Asterisk.
My scenery:
New Vultr VPS with Debian 8 X64.
I tried with:
bash <( curl -s https://cdn.rawgit.com/sipcapture/homer-installer/master/homer_installer.sh )
and with cd /usr/src -> wget .... -> chmod +x homer_installer.sh -> ./homer_installer.sh
With both the same error.

This is the Kamailio error:
[code]

After that, I tried with a new server with CentOS 7 and

[2017-03-26 09:51] josemapm commented on #17
First I want to apologize because my level of English is not very good, so I hope I can explain correctly.
I've been investigating and found where the error occurs
`"ERROR 1062 (23000) at line 1: Duplicate entry '1' for key 'PRIMARY'"`

In the install script when the "schema_configuration.sql" is loaded, this sql script insert this 2 rows in the node table
[code]
First, I think that is a bad idea

[2017-03-26 11:05] zecke commented on #17
Most likely the hep module was not loaded (or isn't availavle)? Can you please verify it?

holger

[2017-03-26 17:20] josemapm commented on #17
Thanks for your reply and excuse my ignorance, but how can I check it?

[2017-03-28 10:41] andycol opened #18 "kamailio error"
new error i loaded a brand new vm and installed with the script and now kamailio shows

Mar 28 12:39:55 homer01 homer[12923]: ERROR: <core> [db.c:318]: db_do_init2(): could not add connection to the pool
Mar 28 12:39:55 homer01 homer[12923]: ERROR: sipcapture [sipcapture.c:1142]: child_init(): unable to connect to database [mysql://homer_user:homer_password@127...mode param.
Mar 28 12:39:55 homer0

[2017-03-28 11:24] 00Asgaroth00 commented on #17
I don't see the "hep" module as being listed in the kamailio v4.4 documentation [here](http://kamailio.org/docs/modules/4.4.x/).

Additionally, the sipcapture module in v4.4 does not have a "nonsip_hook" module parameter defined.

I see the same mysql error after using the install script today on CentOS 7 x64, and I also see kamailio failing to start up with the following errors:

[code]
nonsip_ho

[2017-03-28 11:30] 00Asgaroth00 commented on #17
One option for the auto increment primary key is to pass 0, NULL or the "default" keyword as the value for the auto increment column, that way mysql will automagically just increment the value when inserted, another option is to completely exclude that column in the insert statement.

[2017-03-28 12:31] 00Asgaroth00 commented on #17
It looks like the installer script copies a v5 kamailio configuration file into a kamailio v4.4 installation. I just made the following change to the installer script to try kamailio v5.0.x:

[code]
However, with kamailio v5 installed it also fails to startup:
[code]
with the following errors:
[code]

testing the configuration files yields the following errors, but the test returns with status cod

[2017-03-28 13:14] 00Asgaroth00 commented on #17
It seems the kamailio patching for homer database username/password was not working.

I've updated the homer_installer.sh script for CentOS 7 to:

  [1] Use kamailio v5.0.x opensuse repository
  [2] Use the "default" keyword for the auto-increment primary key (only within the installer script though)
  [3] Properly search/replace the homer db username/password and listen port for kamailio config.

[2017-03-28 13:17] 00Asgaroth00 commented on #18
this is because the installer script does not properly search/replace the mysql username/password in the kamailio configuration file, at least it didnt do it for the CentOS 7 section of the script, what os you running it on?

See issue #17 for some of the script changes I needed to make to get it working for me.

[2017-03-28 13:19] andycol commented on #18
i am running debian 8

[2017-03-28 13:25] 00Asgaroth00 commented on #18
I'm guessting the same issue applies for you too, you can try change these lines in the installer script from:

[code]
to:
[code]

Then run the installer again and it should replace them for you.

[2017-03-29 07:11] andycol commented on #18
that worked!

you should add a pull request

[2017-03-30 17:47] 00Asgaroth00 commented on #17
when testing the script for centos 7 and kamailio 4.4, kamailio starts (and fails) with the following error:

[code]
the hep pvar is not in this version of the sipcapture module.

commenting out the sipcapture:request event route allows kamailio to start up:

for reference, I commented out the following section of kamailio.cfg:
[code]

[2017-03-30 18:44] lmangani commented on #17
This is a 5.x config with 4.x and falls into the general issue we're having with the installer... there's a branch for 5.x where you can test and submit any patches.

[2017-03-30 19:04] 00Asgaroth00 commented on #17
Even installing with the v4 config "homer-config/sipcapture/sipcapture.kamailio" you will notice the sipcapture:request event route at the bottom of the config file which references the $hep pvar which is not available in kamailio v4.4's version of sipcapture.

[2017-03-31 19:32] haugennr1 opened #19 "CentOS - Chown user wrong"
For centOS7 the script tries to change owner of /store/ to the user www-data
This user dont exist in centos7 there is apache user instead of www-data that can be used

[2017-05-02 15:29] tandyuk commented on #18
Just had this exact issue on a fresh deb8 machine.

[2017-05-31 11:07] 00Asgaroth00 commented on #19
This issue is corrected in pull request #23

[2017-05-31 11:08] 00Asgaroth00 commented on #18
This issue is corrected in pull request #23

[2017-05-31 11:08] 00Asgaroth00 commented on #17
This issue is corrected in pull request #23

[2017-05-31 11:09] 00Asgaroth00 commented on #16
This issue is corrected in pull request #23

[2017-05-31 11:10] 00Asgaroth00 commented on #9
This issue is corrected in pull request #23

[2017-05-31 11:11] 00Asgaroth00 commented on #8
This issue is corrected in pull request #23

[2017-06-08 09:51] #19 closed

[2017-06-22 17:31] dig12345 opened #28 "Kamailio starts up before mysql service causing service to fail at bootup"
need to add a systemd unit file to add dependency on mysql service. stock kamailio does not require this:
mkdir /etc/systemd/system/kamailio.service.d/
nano /etc/systemd/system/kamailio.service.d/kamailio.conf

[Unit]
After= mysql.service

[2017-06-23 08:43] 00Asgaroth00 commented on #28
Hi, I'm guessing the systemd configuration file should really be living with the rest of the service definitions in /lib/systemd/system/kamailio.service.d/. I'll take a look at this.

BTW, which distro you running this on? Is it Debian 8 or CentOS 7?

[2017-06-23 13:53] dig12345 commented on #28
No. If you add it to the regular location it will get overwitten by any package updates to kamailio. I've been down that road before.
This is on Debian 8.
I suspect this issue plagues many new users and they just give up. It strikes only after the first reboot and is likely inconsistent based on startup times.

[2017-06-23 18:04] 00Asgaroth00 commented on #28
This should be addressed now.

[2017-06-27 18:07] dig12345 opened #30 "add homer_rotate to startup"
Does it make sense to add homer_rotate to etc/init.d for the case where a machine has been sleeping for more than 3 days. Otherwise the tables are not there and INSERTS fail until next cron job time. I had this situation when launching a homer instance from image.

[2017-06-28 08:22] 00Asgaroth00 commented on #30
In my opinion, I think that is very specific, I would expect a homer system to rarely, if ever, be in a sleep state, rather, it would be up capturing traffic all the time. I think, in an edge case, like yours, it should be up to the sysadmin of the system to add facilities to remedy the edge cases.

[2017-07-18 10:42] #30 closed

[2017-07-18 10:42] #28 closed

[2017-07-18 10:42] #18 closed

[2017-07-18 10:43] #17 closed

[2017-07-18 10:43] #16 closed

[2017-07-18 10:43] #14 closed

[2017-07-18 10:43] #9 closed

[2017-07-18 10:43] #8 closed

[2017-07-18 10:43] #1 closed

[2017-07-18 13:19] lmangani opened #31 "Testing Kamailio 5.x branch"
Homer installer w/ Kamailio 5 packages & configuration is available in a new [kamailio-5.x branch](https://github.com/sipcapture/homer-installer/tree/kamailio-5.x)
If anyone is willing to give it a go, please post your results here, good or bad, so we can iron out any leftover issues & release it. Updated OpenSIPS installer is next.

Thanks!

[2017-08-02 12:21] lmangani opened #32 "Testing OpenSIPS 2.3 Branch"
Homer installer w/ OpenSIPS 2.3 packages & configuration is available in a new opensips-2.3 branch
If anyone is willing to give it a go, please post your results here, good or bad, so we can iron out any leftover issues & release it. The CentOS part will need some extra love.

Thanks!

[2017-08-02 12:31] lmangani opened #33 "TODO: merge opensips + kamailio installers"
We currently have a separate script installing OpenSIPS instead of Kamailio as capture server. Since all other elements are 1:1 we should most likely add this as a choice in a single script.

Up for grabs if anyone's brave and has some spare time :) Thanks in advance!

[2017-08-17 14:35] GMLudo opened #34 "Debian 9 Stretch support"
I open an issue as requested by Lorenzo Mangani: https://groups.google.com/forum/#!topic/homer-discuss/h3wcCmEV19c

BTW, thanks for your awesome job ;-)

[2017-08-17 20:50] negbie commented on #34
Should be no problem but for now we would have to use 5.0nightly 	if this is up to date. https://www.kamailio.org/wiki/packages/debs

[2017-08-17 20:54] negbie commented on #34
Otherwise we can build it from src but it would take some extra time during the installation

[2017-08-18 06:40] SipSeb commented on #34
Actually, there are Stretch packages, but only for the /kamailio50 repository. The /kamailio repository doesn't have them. I must have missed that when updating the Wiki page lately. Fixed it just now.

Maybe @linuxmaniac can add Stretch packages in the /kamailio repository for the upcoming 5.0.3 release, too.

[2017-08-18 10:28] negbie commented on #34
Thanks for the info Sebastian. @GMLudo could you try the stretch-kamailio-5.x branch?
git clone https://github.com/sipcapture/homer-installer.git -b stretch-kamailio-5.x

[2017-08-18 10:55] negbie commented on #34
On a minimal Debian Stretch image you first need to install dirmngr and lsb-release.

PS:
When you have some time and want to help us you can put all this changes into the base installer script by simply adding some new switch case for debian 9. I was to lazy to do this ;)

[2017-09-06 08:59] prashantvidja opened #35 "not getting data at sip signaling"
Hello

I am not getting data at sip signaling...
but in sip_capture table I getting all entry of my all CDRS of calls
so something issue at sip signaling

and also below error I see in kamailio log
Sep 06 04:58:47 homer.ulsd.in kamailio[18066]: ERROR: sipcapture [sipcapture.c:2763]: pv_parse_hep_name(): REQUEST, PRE, 0x00b
Sep 06 04:58:47 homer.ulsd.in kamailio[18066]: ERROR: sipcapture [sipcaptur

[2017-09-07 05:12] #35 closed

[2017-09-07 08:53] prashantvidja opened #36 "not getting all CDRS"
Hello

I am not getting all CDRS from database also I check by changing time period but only I get 20-25 cdrs How I get all live CDRS..
And also live cdrs are not showing when I did calling...
I use Homer 5.0.5 version and kamailio 5.0 and also I used captagent 3 in VOIP server...

Thanks

[2017-09-07 08:56] lmangani commented on #36
please don't open issues on the repositories unless its bug related. Use the mailing list instead for questions - thanks!

[2017-09-07 08:56] #36 closed

[2017-11-28 08:59] lluisYasT opened #37 "Installer doesn't work without wget in Centos 7"
The installer fails silently in Centos 7 (minimal installation) if wget is not already installed.

[2018-01-06 10:20] lmangani commented on #37
[code]

wget is actually the first package in the installation process. Do you have a log for this issue?

[2018-01-17 20:55] dancmsgit opened #40 "Could not resolve all promises: could not load template"
Using the install script:
https://cdn.rawgit.com/sipcapture/homer-installer/master/homer_installer.sh

CentOS 7 (fresh install)

Receive 'Could not resolve all promises: could not load template' under: System Admin > Admin User

[2018-02-19 12:51] Pechenn opened #41 "cpio error is never appears"
+++ command -v cpio
++ valid_cmd=
++ [[ ! -z '' ]]
++ echo 'HALT: Please install package for command '\''cpio'\'''
++ /bin/kill -s TERM 68899
++ exit 1
++ return 0
in normal mod this error is never been echoed

[2018-02-20 15:39] Forty-Tw0 commented on #37
I too had this problem, there was no output on the terminal other than the banner.
It looks like wget is used before it is actually installed.
https://github.com/sipcapture/homer-installer/blob/master/homer_installer.sh#L789
https://github.com/sipcapture/homer-installer/blob/master/homer_installer.sh#L798

[2018-02-20 16:22] lmangani commented on #37
I doubt so, the `base_pkg_list` procedure installs the requirements before running them and I never noticed any issue with wget. The banner also points at a full installation log you can consult for errors - any chance you found one in the same directory you executed from?

[2018-02-20 16:39] Forty-Tw0 commented on #37
wget is used to download the kamailio repo before yum installs the base_pkg_list, line 789
`$cmd_wget --inet4-only --quiet --output-document=/etc/yum.repos.d/kamailio:v4.4.x-rpms.repo`

Then yum installs the base_pkg_list in addition to kamailio and mysql all at once, line 798
`$cmd_yum -y install $base_pkg_list $kamailio_pkg_list $mysql_pkg_list`

My /tmp/homer_installer.sh.pid.log only contains

[2018-02-20 16:46] lmangani commented on #37
You're right! the log path was removed from the banner, but still gets created at `/tmp/$(basename $0).$$.log` while the database details should be at `~root/homer_installer_user_details`

In terms of wget, we should check that - feel free to send a PR if you wish, but I'd also point out our installer instructions below:
[code]

So I guess an assumption was made there. @lluisYasT Did you curl it d

[2018-03-01 14:15] udf2457 opened #42 "homer_installer.sh silent on error"
Am trying the `https://cdn.rawgit.com/sipcapture/homer-installer/master/homer_installer.sh` script (Single-Node Auto-Installer (beta 5.0.1)) on CentOS 7 (3.10.0-693.17.1.el7.x86_64 #1 SMP Thu Jan 25 20:13:58 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux - CentOS Linux release 7.4.1708 (Core) )

Running the script yields nothing but the pretty header and an exit code of "1". No messages, nothing in the l

[2018-04-12 05:40] games130 opened #44 "heplify 1.x tick installer"
I am manually installing the influxDB based on the script, for the line below should this be "sudo systemctl start chronograf" instread of "sudo systemctl start kapacitor"

https://github.com/sipcapture/homer-installer/blob/9f0328949278aa5055b09bcf7a487b076f3c6ffe/homer_installer.sh#L849

[2018-04-12 08:08] lmangani commented on #44
@games130 thanks, feel free to apply those correction yourself and send a PR in the future, this is the beauty of opensource after all ;)

[2018-04-12 08:08] #44 closed

[2018-04-13 06:47] negbie commented on #44
@games130 keep in mind that heplify-server was designed to work with prometheus. So you will get the best results with it. Influxdb support may come later.  When you need full influxdb support have a look at hepop.

[2018-04-13 13:53] 00Asgaroth00 commented on #42
Hi,

Logs should be in /tmp, but, if you want to see what it is doing try running the script as follows:

[code]

Send us all of the output of the trace to debug whats going wrong.

[2018-04-14 09:43] 00Asgaroth00 commented on #41
This happens because the "locate_cmd" function is run in a subshell and the output (echo) is never received by the calling shell as the locate_cmd function terminates the calling process before it can return anything.

Will need to have a think about how to improve this.

As a workaround running in trace mode will give you all diagnostic info.

[code]

[2018-05-09 09:39] sve71 opened #47 "The Installer doesn't Detect CentOS 7"
Hello friends,

I have an issue with a new install of HOMER via the homer_installer.sh script.
My colleagues have installed CentOS 7 on a VM, but its image was a little bit customized by them. When I started the script, it was displaying the error «Sorry, this Installer does not support your OS yet! ».
Is it possible to change the detect_linux_distribution() function to make the script detect the

[2018-05-09 09:42] lmangani commented on #47
@sve71 how was the installer modified?

[2018-05-09 10:11] sve71 commented on #47
Do you mean the installer of the OS (CentOS)?
It is not easy to say, because I do not know. System administrators built the image and I suppose they will not tell me what they exactly have changed.

However, I can print an output of bash commands. I hope it will help you to get the overview about the OS. Please, tell me, what would you like to see?

[2018-05-10 07:23] sve71 commented on #47
Hi again,
I've founf out that my collegues had deceived me. It's not CentOS, it's RHEL. Does the homer_installer work with this OS? The release info below:
[sve71@sipcapture01 ~]$ lsb_release
LSB Version:    :core-4.1-amd64:core-4.1-noarch

[sve71@sipcapture01 ~]$ hostnamectl
Static hostname: sipcapture01.unix.local
Icon name: computer-vm
Chassis: vm
Machine ID:
Boot ID:
Virtualization: vmware
Ope

[2018-05-10 09:28] lmangani commented on #47
Now it makes better sense - What you need to do to add support is extend the script [validation](https://github.com/sipcapture/homer-installer/blob/master/homer_installer.sh#L152) to cover your conditions but mind once you do, its not at all guaranteed all required packages will be available so you'll have to make sure EPEL or whatever equivalent in RHEL is providing the requirements.

FYI: We're

[2018-05-10 15:39] 00Asgaroth00 commented on #47
@sve71 What is your output of:
[code]
Might certainly be some differences in packages between RHEL and CentOS, even though CentOS is built from RHEL upstream. I dont have a copy of RHEL to test any changes with though.

@lmangani ooo homer-7 hey :100:  where can we find this initial release? I looked at homer project under homer-7 branch but it appears to be an empty repo.

[2018-05-10 15:49] lmangani commented on #47
we're working on installers and containers as fast as possible - there are some major differences with the upgrade so its sort of tedious but should see the light soon on the repository. If you will have a chance to watch our recent and upcoming presentations, you will see all elements are actually there, only the instructions are missing.

[2018-05-10 17:51] sve71 commented on #47
Hi, @00Asgaroth00
The output is:

[code]

I followed the advice to extend the _homer_installer_ and it worked. Just in case, the part of the script is follow:
[code]

@lmangani, it will be exciting to try H7 :-)

[2018-05-23 14:06] pnlsantos opened #48 "HOMER Install kamailio homer_installer.sh Script fail"
I am trying to install the kamailio script on a clean centOS 7 and get the error

Total download size: 303 M
Installed size: 1.1 G
Downloading packages:
http://download.opensuse.org/repositories/home%3A/kamailio%3A/v5.0.x-rpms/CentOS_7/x86_64/kamailio-geoip-5.0.6-1.el7.centos.x86_64.rpm: [Errno -1] Package does not match intended download. Suggestion: run yum --enablerepo=home_kamailio_v5.0.x-rpms

[2018-06-19 04:52] JonConnor opened #49 "adding homer5 metric support (elasticDB) without re-installing"
is it possible to enable the homer5 bigdata support without re-installing and using the installer from the kamailio-5.x-metric repo?

[2018-06-19 07:55] lmangani commented on #49
Hi @JonConnor it all depends what you installed to begin with. The best "bigdata" HOMER 5.x can produce are timeseries in InfluxDB or Prometheus. Check out the Docker containers here for examples: https://github.com/sipcapture/homer-docker/tree/master/heplify-server

Elasticsearch is not part of the picture right now but can easily be made so.

[2018-06-19 11:44] JonConnor commented on #49
@lmangani Hi, i was referring to the information provided from this git: https://github.com/sipcapture/homer/wiki/Homer-Bigdata.

In it it states some basic metrics are supported (i'm just looking to aggregate Registers In, Invites In, error Responses).  It listed InfluxDB, ElasticSearch, and graylog as supported.

The instructions were to use the homer_installer.sh from the metric branch to insta

[2018-06-19 11:46] JonConnor commented on #49
@Imangani also to be clear, I already have an ELK stack running separately.

[2018-06-19 11:48] lmangani commented on #49
@JonConnor that's pretty old and will soon be removed. Mind you CAN actually do what it says, but you'll have to get your hands dirty. I would suggest looking into a switch to heplify-server as it already allows you to aggregate by methods, statistics and so on via its prometheus output which can easily be converted to anything else via Telegraf and other tools. Hope this helps!

[2018-06-19 11:53] JonConnor commented on #49
@lmangani ok cool thanks for the tip!  I'll look more into heplify-server.

[2018-06-19 11:53] #49 closed

[2018-06-21 09:30] gabyfulchic commented on #48
i've got the same issue exactly on a CentOS_7 vm.. i'm usgin virtualbox and i've also used the homer_installer git to get the same issue.. error downloading packages : No one mirrors to try for the kamailio packages...

Someone could help us ?

[2018-06-21 10:17] lmangani commented on #48
Guys, we're moving forward to the new model using heplify-server as capture component. I suggest that route which was expressely created to avoid having to deal with 3rd party repositories and packages disappearing from day to night.

I'll take a stab at the installer later on today, if you use Docker, those are immediately available.

[2018-06-27 09:12] gabyfulchic opened #50 "auth error login homer interface"
FULCHIC Gaby
Aujourd’hui, 11:12
![autherror](https://user-images.githubusercontent.com/22600727/41964644-d62b2b2e-79fa-11e8-9f2a-867fc5dac5de.png)

I've juste installed homer5 with that script : https://github.com/sipcapture/homer-installer
I'm on windows 10 using virtualbox and a Debian 8 jessie vm.

But now when i'm trying to access to the homer interface, it asks me some credentials. So i've ch

[2018-06-27 09:14] lmangani commented on #50
mind things are case sensitive and `Admin` != `admin` could you confirm this is not the issue?
Also, please confirm mysql is actually up and running, providing the authentication backend.

[2018-06-27 09:25] gabyfulchic commented on #50
I've tried using admin/test123 admin/test1234 and admin/admin but nothing, again tha error.

mysql Status :
![mysqlstatus](https://user-images.githubusercontent.com/22600727/41965399-bb23bbdc-79fc-11e8-8350-e577ccb9210a.png)

[2018-06-27 09:37] lmangani commented on #50
Can you access mysql using the credentials configured in homer - that's likely the issue.

[2018-06-27 09:51] gabyfulchic commented on #50
I'm using this config on homer web folder.
![dbconf](https://user-images.githubusercontent.com/22600727/41966753-4450f7b4-7a00-11e8-9f89-7e375b86ee99.png)

And i've got this issue when i log in msql with homer user.
![errrologdbhomer](https://user-images.githubusercontent.com/22600727/41966798-5f818c7e-7a00-11e8-8bef-156a5c3db820.png)

[2018-06-27 09:59] lmangani commented on #50
You just found the issue. Please provide the config with a valid username/password and login should work. Make sure the same is done on the capture server front for inserts.

The installer should have created a log in its root directory - please check it for errors, too.

[2018-06-27 10:03] gabyfulchic commented on #50
ok ty, but by valid username/password you mean Homer33/Passw0rd33 for example ?
On the capture server front for inserts ? hm i don't really understand that part.

Ok i'll check the logs too.

Ty so much

[2018-06-27 10:12] lmangani commented on #50
@gabyfulchic sorry if i confused you. Login to your mysql as root and create a valid user w/ permissions to write. Once done, use those credentials in the HOMER configuration and try again.

[2018-06-27 11:32] gabyfulchic commented on #50
Oh no it's ok @lmangani  i'm just a newbie in the system world, i just begin. Do you want to say insert in the homer user table a user ? Or CREATE USER in sql cmd ?
Oh no my bad i understood. I'll create a sql user and just use it in db_username and db_password ! ty really much.

[2018-06-27 11:42] gabyfulchic commented on #50
hum, same modifiying the configuration after created a new user with grant all privileges it doesn't work..
(i tested, i can acces to sql cmd with mysql -u homergaby -p Password)

![image](https://user-images.githubusercontent.com/22600727/41971725-b4e6def8-7a0f-11e8-9481-800e26060222.png)

![image](https://user-images.githubusercontent.com/22600727/41971786-eb188bf2-7a0f-11e8-95c6-1c9253a2468b.pn

[2018-06-27 11:49] lmangani commented on #50
@gabyfulchic the login remains admin/test123 - this is stored INSIDE MySQL and has nothing to do with the user HOMER will access MySQL with. So, the settings in php should be fine, but you need to use the actual credentials next.

[2018-06-27 11:49] #50 closed

[2018-06-27 11:56] gabyfulchic commented on #50
So i created a new user to connect to the mysql databases, and then i need to use the credentials admin/test123 ? because i've tested too and it doesn't work.. :(

[2018-06-27 11:57] gabyfulchic commented on #50
Oh my godness, it's ok it's my fault. i was typing the wrong password, the default credentials are here 👍
https://github.com/QXIP/homer-docker/issues/3

It was admin/test1234

[2018-07-17 13:00] rhoribe commented on #35
Hi!
What's  solution ?

[2018-07-17 13:10] prashantvidja commented on #35
Not sure, I solved long time ago but something issue in my mysql data.

[2018-07-18 08:12] #47 closed

[2018-09-24 20:33] johandeclercqdemocon opened #51 "decoding issue."
I installed homer 5 using this link as described in issue #34 :
git clone https://github.com/sipcapture/homer-installer.git -b stretch-kamailio-5.x

The opensips involved sends the packets correctly (using hep 3 format).

When I look in syslog :

Sep 24 22:16:50 ns365555 homer[15930]: ERROR: sipcapture [sipcapture.c:2711]: nosip_hep_msg(): couldn't parse sip message
Sep 24 22:16:50 ns365555 homer[

[2018-09-24 21:46] lmangani commented on #51
Hi @johandeclercqdemocon this would suggest non-HEP packets are entering the circuit ... could be keep alives or anything really. Are valid messages captured and displayed correctly?

[2018-09-25 05:31] johandeclercqdemocon commented on #51
Hi Lorenzo,

I have attached a pcap. It’s opensips 24 on the other end and the sent messages seem valid.

Outlook voor iOS<https://aka.ms/o0ukef> downloaden

________________________________
Van: Lorenzo Mangani <notifications@github.com>
Verzonden: maandag, september 24, 2018 11:47 PM
Aan: sipcapture/homer-installer
CC: johandeclercqdemocon; Mention
Onderwerp: Re: [sipcapture/homer-installer] dec

[2018-10-02 08:12] johandeclercqdemocon commented on #51
Hi Lorenzo,
I have changed my opensips config for default values.
The packets do arrive at the correct server, but they cannot be inserted.
To me the packet seems valid as they are properly decoded in wireshark.
[forhomer.zip](https://github.com/sipcapture/homer-installer/files/2437005/forhomer.zip)

Oct  2 08:00:05 ns3019374 homer[22749]: ERROR: db_mysql [km_dbase.c:127]: db_mysql_submit_query():

[2018-10-14 07:26] 00Asgaroth00 commented on #48
I just came across this issue too, but it turns out that I was behind a http proxy (squid), if I disable the proxy, then the download works. I'm not sure what the fix would be for this, possibly a setting in squid.

Were any of you using a proxy, or behind a transparent proxy of sorts when trying to run the script and encountered this issue?

[2018-10-17 13:55] omalisson opened #52 "Help-me! Web page does not allow login !!!"
Good morning friends!
(Sorry! I ended up posting the text in Portuguese ... Follow the text in English!)
I need every possible help to make Homer operate successfully to introduce you as the solution for monitoring our Asterisk borders!
I'm testing the environment on virtualized instances in Google Cloud to show up for an event in the company later.
I created a VM with Centos 7.5 1804 (Core), I di

[2019-02-11 22:07] routetehpacketz opened #53 "MySQL "access denied" when installing HOMER/OpenSips"
I am having trouble getting the HOMER+OpenSIPs installer to complete in CentOS 7. I am running the script in the instructions on this page: https://github.com/sipcapture/homer-installer/tree/opensips-2.3

The issue appears to be the script failing to authenticate to mysql:

Access denied for user 'root'@'localhost' (using password: YES)

I have tried obtaining the temporary password from the mysql

[2019-02-14 17:13] ghost commented on #53
ended up just reinstalling CentOS

[2019-02-14 17:13] #53 closed

[2019-05-22 12:30] aparajey opened #55 "Bash script not working"
Hello,

i tried to install homer with bash script on clean centos 7, but getting this error.

Complete!
[root@homer src]# nano homer_installer.sh
[root@homer src]# ./homer_installer.sh

[root@homer src]# **************************************************************

      ,;;;;;,       HOMER SIP CAPTURE (http://sipcapture.org)
     ;;;;;;;;;.     Single-Node Auto-Installer (beta 7.0)
   ;;;;;;;;;

[2019-05-26 09:41] aparajey opened #56 "Heplify service not starting"
i have installed homer 7 on debian 9, everything working fine but heplify service not starting.

![Screenshot 2019-05-26 at 3 11 09 PM](https://user-images.githubusercontent.com/23430485/58379979-83a00580-7fc8-11e9-9ac4-08eeab9b6d47.png)

Any suggestion on this?

[2019-05-26 18:39] #31 closed

[2019-05-26 18:39] #32 closed

[2019-05-26 18:39] #33 closed

[2019-05-26 18:39] #34 closed

[2019-05-26 18:39] #37 closed

[2019-05-26 18:39] #41 closed

[2019-05-26 18:39] #42 closed

[2019-05-26 18:39] #48 closed

[2019-05-26 18:39] #51 closed

[2019-05-26 18:39] #52 closed

[2019-05-27 07:34] aqsyonas commented on #56
@aparajey the correct name for the service is  `heplify-server` .
Please, let me know if you are still unable to start it.

`systemctl status heplify-server`

[2019-05-27 09:09] aparajey commented on #56
@aqsyonas yes i can start it now, thanks. But even though my servers are properly configured to send SIP packets to Homer it isn't showing up on homer dashboard. firewall is also disabled so i am sure it is not blocking it. any idea what could be the issue?

[2019-05-27 09:57] aqsyonas commented on #56
ok, great. Then I will close this ticket. The proper way for other issues would be using homer google group.

[2019-05-27 09:57] #56 closed

[2019-05-27 18:05] aqsyonas commented on #55
@aparajey please pull the latest script and run it on freshly installed Centos7. Things should be working fine now.

[2019-06-05 13:18] maltris commented on #40
@lmangani May I ask why this was closed? I am having a similar problem and search for a possible solution.

[2019-06-05 13:23] lmangani commented on #40
I can't tell since the content was edited.

[2019-06-05 13:23] lmangani commented on #40
@aqsyonas could you take a look when you get a chance?

[2019-06-05 16:42] maltris commented on #40
Update: My issue actually solved itself by setting LDAP_ADMIN_USERS in the preferences.php.

[2019-06-05 17:04] lmangani commented on #40
That's great - closing this issue again :)

[2019-06-05 17:04] #40 closed

[2019-06-07 14:59] pnlsantos opened #57 "Access HOMER UI"
Hi have installed homer 7 with the script https://github.com/sipcapture/homer-installer in a fresh centos7 but I cannot access web GUI.
does it need to start any node script? it should not be a web server installed?

[homer_installer.sh.436.log](https://github.com/sipcapture/homer-installer/files/3266478/homer_installer.sh.436.log)

[2019-06-07 15:11] pnlsantos commented on #57
/opt/homer-app/server/server.js:82
    throw error;
    ^

Error: Could not find openssl on your system on this path: openssl
    at /opt/homer-app/node_modules/pem/lib/openssl.js:237:23
    at F (/opt/homer-app/node_modules/pem/node_modules/which/which.js:68:16)
    at E (/opt/homer-app/node_modules/pem/node_modules/which/which.js:80:29)
    at /opt/homer-app/node_modules/pem/node_modules/which/w

[2019-06-16 14:40] yumminova opened #59 "listening port"
Hi, i installed version 5 as i could not get 7 to work, but it seems its listening on tcp6 instead of tcp, how can i change that?

[2019-06-16 14:40] yumminova commented on #59
oh actually it seems im running 7 ))))

[2019-06-16 14:53] lmangani commented on #59
We can support you with 7 - what's your determination based on and could you kindly list the status of the various services?

[2019-06-16 16:24] lmangani commented on #59
Note
[code]

so most likely it works just fine. Could you confirm?

[2019-06-18 10:28] shchbo opened #60 "cannot access gui after installing HOMER 7"
after installing HOMER 7 on centos 7 i cannot access the UI.
on some computers i get a white screen and on some i get the login screen after a wile but when i type the username and password i get a message that its incorrect.
at home it woks OK so i am guessing it has something to do with the network at work but i do not know what.
when i ran this command at home : curl -X POST localhost:80/api/v3

[2019-06-20 22:02] yumminova commented on #59
hi and sorry for the late response!

Yes its actually working.

So is there any documentation on the dashboard? I remember in version 5 , or maybe older, i had a great default dashboard with a lot of info, but now i have only a search field.

I mean it would work, but there must be more possible?

[2019-06-25 04:44] jerry6021 opened #61 "installer fails"
Brand new Debian 9 installation

Did the following
-------------------------
cd /usr/src
wget https://cdn.rawgit.com/sipcapture/homer-installer/master/homer_installer.sh
chmod +x homer_installer.sh
./homer_installer.sh
-------------------------

Got these errors (installed as root):

Clone done
Installing Homer-App

prebuild-install info begin Prebuild-install version 2.3.0
prebuild-install info l

[2019-07-10 08:53] aqsyonas commented on #61
@jerry6021 thanks for the report looks like need to enable --unsafe-perm during the installation of packages. I will fix that.

[2019-07-10 09:02] aqsyonas commented on #61
@jerry6021 could you please pull the latest changes and try. Or you can check below commit.

https://github.com/sipcapture/homer-installer/commit/34a4ecaeefd57b83edd478eb0f487b32b69c1b68

[2019-07-10 09:12] aqsyonas commented on #60
@shchbo, please capture the traffic on port 80 using below command when you try to login remotely.
And see if you spot anything amiss.
`ngrep -W byline -q -d any port 80`

[2019-07-10 09:17] aqsyonas commented on #57
@pnlsantos could you please pull the latest script and give it a shot. It should be fixed now.

[2019-07-10 09:45] aqsyonas commented on #59
@yumminova homer7 is better feature-rich and flexible than homer5. You can easily integrate other systems with it.  Like, can send stats to influxdb and configure a couple of alarm based upon your requirements. You can find at below link some default dashboards.

https://github.com/sipcapture/homer7-docker/tree/master/heplify-server/hom7-hep-prom-graf/grafana/provisioning

If you provide us with m

[2019-07-10 10:33] lmangani commented on #60
The UI might try to fetch a few libraries - I would guess one of the locations firewalls a few. Check from the browser console if you see any errors or timeouts while fetching data.

[2019-08-02 15:30] ericiper opened #63 "installer fails with npm ImportError: No module named compiler.ast"
Hello
I'm using the homer7_installer.sh script on a fresh debian 9.9 - Installer failed with error : installer fails with npm ImportError: No module named compiler.ast

I've solved this installing python-dev: apt install python-dev (and to be safe, apt install python3-dev). Install looks ok by just relaunching the install script.

E.

[2019-08-05 06:27] aqsyonas commented on #63
@ericiper thanks we will add this as a dependency.

[2019-08-05 12:38] #61 closed

[2019-09-12 19:01] SB-JohnK opened #64 "Warnings during homer_installer.sh"
I noticed some database related errors when I run homer_installer.sh

OS is CentOS Linux release 7.6.1810 (Core), Fresh install.

migration file "20190401143156_Datastructure.js" failed
migration failed with error: create table "users" ("id" serial primary key, "username" varchar(50) not null, "partid" integer not null default '10', "email" varchar(250) not null, "firstname" varchar(50) not null,

[2019-09-13 09:24] aqsyonas commented on #64
@SB-JohnK looks like you ran the script multiple times? Script is complaining about already existing `users` table.

[2019-09-13 22:12] SB-JohnK commented on #64
I only ran the script a single time.

I can re-produce this 100% of the time.,

Create new VM
Install Centos 7 from iso
yum install epel-release wget redhat-lsb-core curl git
wget https://cdn.rawgit.com/sipcapture/homer-installer/master/homer_installer.sh
chmod +x installer
run installer

I get the migration errors every time.

[homer_installer.sh.3574.log](https://github.com/sipcapture/homer-inst

[2019-09-16 09:09] aqsyonas commented on #64
@SB-JohnK thanks. I will check that.

[2019-09-17 07:03] aqsyonas commented on #64
@SB-JohnK unfortunately, I could not replicate above issue, I have tried your instructions on freshly installed centos7 and it worked for me. Even your log does not have anything anomalous.

[2019-10-15 16:11] SB-JohnK opened #65 "Post-Install message gives the wrong service name to start and stop"
The message that is displayed after running homer_installer.sh is:

    * Start/stop Homer SIP Capture:
         'systemctl start|stop heplify'

The command is actually systemctl start|stop heplify-server

[2019-10-15 16:50] lmangani commented on #65
Patched! Thanks for the suggestion :)

https://github.com/sipcapture/homer-installer/blob/master/homer_installer.sh

[2019-10-15 16:50] #65 closed

[2019-10-18 11:04] paulvi opened #66 "Github repository metadata says it is Homer5 installer"
Github repository metadata says it is Homer5 installer

While README says it is

Please update Github repository metadata

[2019-10-18 11:06] lmangani commented on #66
good catch, fixed!

[2019-10-18 11:06] #66 closed

[2019-11-05 14:34] Justessej commented on #55
Where can i find the latest script do you have a wget link?

[2019-11-06 11:27] Justessej opened #68 "Yum error"
Whenever i install homer i get a yum error in ./homer_installer.sh

`Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: mirrors.xtom.nl
 * centos-kernel: mirrors.xtom.nl
 * extras: mirrors.xtom.nl
 * updates: mirrors.xtom.nl
No packages marked for update
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: mirrors.xtom.nl
 * centos-kernel

[2019-11-07 08:58] aqsyonas commented on #64
closing due to no response. Please open if the issue still persists for you.

[2019-11-07 08:58] #64 closed

[2019-11-07 08:59] #59 closed

[2019-11-07 09:01] aqsyonas commented on #60
@shchbo please fetch lastest code of homer-installer. There were some fixes related to SELinux.

[2019-11-07 09:01] #60 closed

[2019-11-07 09:02] aqsyonas commented on #55
@Justessej just clone the current homer-installer which contains latest code.

`https://github.com/sipcapture/homer-installer.git`

[2019-11-07 09:17] aqsyonas commented on #63
fixed here cafa61f

Thanks.

[2019-11-07 09:17] #63 closed

[2019-11-07 09:21] aqsyonas commented on #57
closing due to no response.

[2019-11-07 09:21] #57 closed

[2019-11-07 09:30] aqsyonas commented on #68
@Justessej could you tell me what machine architecture you are currently using?

[2019-11-07 09:31] Justessej commented on #68
Im using a raspberry 3B+

[2019-11-07 10:08] aqsyonas commented on #68
@Justessej I see script getting failed during the node installation. We do have the plan to extend the installer script for other architectures. But for now, you can follow the below document and install each component according to your architecture.

`https://github.com/sipcapture/homer/wiki/homer-seven-setup`

[2019-11-07 10:28] Justessej commented on #68
I see lots of setups what instruction do i follow with my system?

[2019-11-07 10:35] lmangani commented on #68
@Justessej we don't support arm64 server side setups and in general, you should not install the server components on your RPi, it makes very little sense unless you're just playing with a few calls as the IO won't suffice. This said, all of our agents such as `heplify` and `captagent` are available for ARM64 so you can most definitely use your RPi as a sniffer to capture traffic and forward it to

[2019-11-07 10:43] Justessej commented on #68
I want VOIP monitoring that runs on a raspberry with GUI it is a task for my internship

[2019-11-07 10:44] Justessej commented on #68
This is the only good program i could find so pls i just want it to work :)

[2019-11-07 13:18] Justessej commented on #68
@lmangani How could i make this sniffer?

[2020-01-09 06:42] dv8inpp commented on #55
As this is a script issue I might point out that although it says Debian 9 the script referenced in the instructions on the front page is still set for Debian 8
wget https://cdn.rawgit.com/sipcapture/homer-installer/master/homer_installer.sh
but the acutal file https://github.com/sipcapture/homer-installer/blob/master/homer_installer.sh is correct

[2020-01-09 10:36] lmangani commented on #55
Hi @dv8inpp You should use the 7.7 branch straight off Github to install the latest bundle

[2020-01-09 10:40] Justessej commented on #55
Hi @lmangani i installed homer with the instructions on github with this link https://cdn.rawgit.com/sipcapture/homer-installer/master/homer_installer.sh. I get in the interface but when i reboot the system i cant login anymore is there a fix for this?

[2020-01-09 10:43] lmangani commented on #55
@Justessej it depends on the version you have installed - is it 7.7?

[2020-01-09 10:48] Justessej commented on #55
@lmangani Yes it is

[2020-01-09 11:53] lmangani commented on #55
@Justessej great, please provide some logs errors, service status, etc to get some help

[2020-01-09 11:55] Justessej commented on #55
Okay, I will upload some screenshots with the error

[2020-01-12 01:29] Justessej commented on #55
![Screenshot_6](https://user-images.githubusercontent.com/57404162/72212773-0f788a80-34e3-11ea-804d-2114fecc6186.png)

[2020-01-12 10:36] lmangani commented on #55
@Justessej the error is pretty clear. Postgres is down on your system. I would suggest checking that first.

[2020-01-12 19:28] Justessej commented on #55
I installed Postgres and now i get a other error message
![unknown (9)](https://user-images.githubusercontent.com/57404162/72224363-274f1d80-357a-11ea-9b8c-bb089ff93586.png)

[2020-01-13 17:29] Si-Richards opened #69 "Fails to install web-app"
Centos 7 latest minimal build.

Latest bash Script as per https://github.com/sipcapture/homer-installer

Double '//' in path and error cloning.

[code]

[2020-01-14 10:49] githubsesui commented on #55
I have the same issue. Can not login after reboot of the system when using the install script.

[2020-01-14 10:51] Justessej commented on #55
@githubsesui Same here, waiting for a answer :)

[2020-01-14 10:52] lmangani commented on #55
We're getting you all fixed fellas :)

Please install the latest `homer-app` I think it should resolve 100% of your issues. We just pushed it so feel free to open issues during installation for assistance. Once you installed the latest go `homer-app` please update your status

[2020-01-14 11:00] Justessej commented on #55
![image](https://user-images.githubusercontent.com/57404162/72338749-6ccc3180-36c5-11ea-896b-feb8195dc3f7.png)

[2020-01-14 11:01] Justessej commented on #55
Didnt see u need to manual setup some things im gonna try to setup this first

[2020-01-14 11:05] lmangani commented on #69
Our apologies! this is broken as we're migrating to our new app. You can skip this step and use the latest package available in the `homer-app` repository releases. We're fixing documentations and scripts as we go.

PS: links are intentionally broken to avoid people installing it by mistake using old scripts

[2020-01-14 11:22] Justessej commented on #55
@lmangani Is the manual setup for after running the homer installer script?

[2020-01-15 15:41] Justessej commented on #69
@lmangani Who do we install the latest version of the homer-app

[2020-01-15 15:44] lmangani commented on #69
@Justessej grab a package or release from the `homer-app` repository and replace the old one

[2020-01-15 15:53] Justessej commented on #69
@lmangani Possible on CentOS 7? Sound more like docker to me

[2020-01-15 16:05] lmangani commented on #69
@Justessej there's no docker needs, just download the latest `rpm` and install it on your CentOS7

[2020-01-16 17:07] githubsesui commented on #55
Hi Lorenzo,

Thank you for your reply.

Will the Bash Install Script be updated? I don’t have much experience with the manual installation and I am only using the Install Script.
Regards,

Philip
From: Lorenzo Mangani <notifications@github.com>
Sent: 14 January 2020 10:53
To: sipcapture/homer-installer <homer-installer@noreply.github.com>
Cc: Philip Misra - Sesui <philip@sesui.com>; Mention <menti

[2020-01-16 20:30] Justessej commented on #55
@githubsesui Lets hope so the manual setup is to hard for me. Idk how to install any of this on my system.

[2020-01-16 21:41] lmangani commented on #55
The installers are being updated - hold on tight, we'll make this as easy as it should be.

[2020-01-17 08:00] aqsyonas commented on #55
Could you please, check the latest script and see if that works for you?

https://github.com/sipcapture/homer-installer.git

Br, Aqs.

On Fri, Jan 17, 2020 at 2:41 AM Lorenzo Mangani <notifications@github.com>
wrote:

[2020-01-17 10:19] Justessej commented on #55
With the same way as:

cd /usr/src
wget https://cdn.rawgit.com/sipcapture/homer-installer/master/homer_installer.sh
chmod +x homer_installer.sh
./homer_installer.sh

[2020-01-17 10:30] aqsyonas commented on #55
Yes, that looks good.

Br, Aqs.

On Fri, Jan 17, 2020 at 3:19 PM Justessej <notifications@github.com> wrote:

[2020-01-17 10:34] Justessej commented on #55
![Screenshot_3](https://user-images.githubusercontent.com/57404162/72605519-3be63980-391d-11ea-80af-0568894db7c6.png)
Nope still after reboot i cant login

[2020-01-17 10:37] aqsyonas commented on #55
Which OS are you using? Could you check if you see some error in console
(press f12 and try to login again)

Br, Aqs.

On Fri, Jan 17, 2020 at 3:34 PM Justessej <notifications@github.com> wrote:

[2020-01-17 10:41] Justessej commented on #55
Im using CentOS 7
![image](https://user-images.githubusercontent.com/57404162/72606096-4523d600-391e-11ea-9083-a0fa54d41a41.png)

[2020-01-17 10:42] Justessej commented on #55
![image](https://user-images.githubusercontent.com/57404162/72606179-6be20c80-391e-11ea-806e-bfda1efe282d.png)

[2020-01-17 11:17] gmaruzz opened #71 "script creates in PostgreSQL homer_user with homer_password (hardcoded in script, see GRANT line)"

[2020-01-17 11:25] aqsyonas commented on #71
@gmaruzz  thanks for reporting, I would change this back to a dynamic one.

[2020-01-17 11:28] aqsyonas commented on #55
could you please check a few things,

1. sestatus
2. systemctl status postgresql-12

Br, Aqs.

On Fri, Jan 17, 2020 at 3:42 PM Justessej <notifications@github.com> wrote:

[2020-01-17 11:30] Justessej commented on #55
![image](https://user-images.githubusercontent.com/57404162/72609440-32f96600-3925-11ea-94ce-2b3ea42c6af7.png)

[2020-01-17 11:34] aqsyonas commented on #55
looks like your postgresq12 is dead.

Could you please run below command, and send me the output

systemctl restart postgresql-12
systemctl enable postgresql-12
systemctl status postgresql-12

Br, Aqs.

On Fri, Jan 17, 2020 at 4:30 PM Justessej <notifications@github.com> wrote:

[2020-01-17 11:35] Justessej commented on #55
![image](https://user-images.githubusercontent.com/57404162/72609702-e5c9c400-3925-11ea-9e01-5fe396a9db40.png)

[2020-01-17 11:37] aqsyonas commented on #55
ok, great. Please, try to log in and see if it works this time. if not
check error in console.

Br, Aqs.

On Fri, Jan 17, 2020 at 4:35 PM Justessej <notifications@github.com> wrote:

[2020-01-17 11:50] Justessej commented on #55
![image](https://user-images.githubusercontent.com/57404162/72610522-e5322d00-3927-11ea-86e9-89acabe89552.png)
Still the same

[2020-01-17 11:59] Justessej commented on #55
I DID IT!!!! Its working now homer-app was dead to so i did the same commands and when it was active i tried again and it worked but now i need help for connecting the company VoIP phones :)

[2020-01-17 12:01] aqsyonas commented on #55
ok, great it worked for you. Please, open a separate thread for the other
help.

Br, Aqs.

On Fri, Jan 17, 2020 at 4:59 PM Justessej <notifications@github.com> wrote:

[2020-01-17 12:02] Justessej commented on #55
@aqsyonas I created the other issue thanks for your help <3

[2020-01-17 12:06] Justessej opened #72 "Capturing VoIP Phones"
I finished the installer and its working fine. But its all emty and i want to start monitoring my VoIP Phones. Hope someone will help me :)

[2020-01-17 13:49] aqsyonas commented on #71
fixed in the latest commit.

[2020-01-17 13:49] #71 closed

[2020-01-17 13:51] aqsyonas commented on #69
this should be working now.

[2020-01-17 13:51] #69 closed

[2020-01-17 13:52] aqsyonas commented on #68
It should be good now.

[2020-01-17 13:52] #68 closed

[2020-01-17 13:52] #55 closed

[2020-01-17 13:55] aqsyonas commented on #72
homer just displays what hep agents send to it. So, most probably you need to install heplify/capagent on your voip servers where your phones get registered.

[2020-01-17 14:01] Justessej commented on #72
So i need to install the capture tool on the VoIP server not on the server homer is running

[2020-01-17 14:04] lmangani commented on #72
@Justessej the capture server receives packets generated by an `HEP` agent, such as `heplify`, `captagent` or any native HEP client integrated in platforms like `kamailio`, `opensips`, `freeswitch`, `asterisk` and others.

[2020-01-17 14:06] Justessej commented on #72
So you dont need to install captagent you must find a supported agent for homer to capture

[2020-01-17 14:18] Justessej commented on #72
Do you need a captagent to let homer work. Isnt possible that it can scan the intern network

[2020-01-17 14:20] lmangani commented on #72
@Justessej this is a pretty broad of a scope for this issue - perhaps you do, but its important to understand what you're about to do before making decisions - perhaps watch one (any) of my presentations about the HOMER architecture and it should answer your questions

[2020-01-21 09:06] Justessej commented on #72
But is there a program that can be used as SIP sniffer that can scan the intern network at the company

[2020-01-21 09:55] lmangani commented on #72
That's called a `Capture Agent` and we have many. Start with `heplify` for simplicity.

[2020-01-24 08:47] #72 closed

[2020-02-06 11:06] githubsesui commented on #55
Hi Lorenzo,

I have used the newly updated installation script on Centos7 and it works. I also restarted the server and was able to login to Homer so the previous issue has been resolved.

Thank you for updating the script and resolving the issue.

Kind regards,

Philip

From: Philip Misra - Sesui
Sent: 16 January 2020 17:07
To: 'sipcapture/homer-installer' <reply@reply.github.com>; sipcapture/hom

[2020-02-06 12:04] aqsyonas commented on #55
@githubsesui we are very much pleased that it worked for you. !

[2020-04-20 13:36] Steph-T opened #73 "2 errors during installation"
The 'homer_installer.sh' script give 2 errors during installation:
1) https://yum.postgresql.org/10/redhat/rhel-7-x86_64/pgdg-centos10-10-2.noarch.rpm doesn't exist anymore (https://yum.postgresql.org/repopackages.php)
2) during Homer App installation: "error: pathspec ’server-only’ did not match any file(s) known to git."

[2020-04-20 15:16] Steph-T commented on #73
Wrong link for Home Installer

[2020-04-20 15:16] #73 closed

[2020-12-31 10:37] mveerdon opened #75 "Installation Homer7 centos7 keeps failing"
Hi,
trying to install Homer7 on Centos7 server, using the homer-installer.

Homer-app keeps failing to run. Heplify-server is running.
In the homer-app.log I see connection errors.

Any ideas/tips howto solve this?

[code]

[2020-12-31 10:43] aqsyonas commented on #75
Hi,

Looks like your database is not up. You can start database by running below
command

systemctl restart postgresql-12 && systemctl enable postgresql-12 &&
systemctl status postgresql-12

Restart homer-app
systemctl restart homer-app && systemctl enable homer-app && systemctl
status homer-app

Br, Aqs

On Thu, Dec 31, 2020 at 3:37 PM mveerdon <notifications@github.com> wrote:

[2020-12-31 10:48] mveerdon commented on #75
[code]

[2021-01-03 13:49] mveerdon commented on #75
Somebody any ideas?

[2021-01-04 07:55] aqsyonas commented on #75
looks like your postgresql could not start.

could you run journalctl -f -u postgresql-12 and restart postgresql-12 in
the second tab and see if you get some hints.

Br, Aqs

On Sun, Jan 3, 2021 at 6:49 PM mveerdon <notifications@github.com> wrote:

[2021-01-04 09:05] mveerdon commented on #75
Thanks,
but the output doesn't provide much info.

[code]

[2021-01-05 09:29] mveerdon commented on #75
@aqsyonas any ideas how to fix this?

[2021-01-05 10:08] lmangani commented on #75
You probably have too little memory or other resource constrictions failing the process. Check your system for errors.

[2021-01-05 10:41] mveerdon commented on #75
Thanks, any tips what's the best way to verify this?

[2021-01-05 10:46] aqsyonas commented on #75
Check if you have enough memory on the system

free -mh
enough disk space on system
df -h
and check if selinus is permissive mode or disabled.
sestatus

And check extended logs from postgresql by running below command after
restart of postgresql

journalctl -xe
Br, Aqs

On Tue, Jan 5, 2021 at 3:42 PM mveerdon <notifications@github.com> wrote:

[2021-01-14 09:53] lmangani commented on #75
@mveerdon do you still require assistance with this?

[2021-01-14 10:37] mveerdon commented on #75
I extended the VM.
disk space and memory looks okay.

This is the output of journal log

[code]

[2021-01-14 10:43] aqsyonas commented on #75
Hey,

Looks like the database was not initialized as pointed out by the below
line.

"/var/lib/pgsql/12/data/" is missing or empty.

You can initialize it by using the below command.
service postgresql initdb
service start postgresql

You might need to re-create the required databases and tables by following
the below instructions.

https://github.com/sipcapture/homer-app

Br, Aqs

On Thu, Jan 14,

[2021-01-14 10:53] mveerdon commented on #75
[code]

[2021-01-14 11:16] mveerdon commented on #75
trying to re-created the DB via the github instructions. But looks like my Homer installation is not in the expected folder

[code]

[2021-01-14 11:45] aqsyonas commented on #75
Check if your postgresql is up and running before you try to create tables.

service status postgresql-12

you can find the homer-app binary by running below command.

which homer-app
/usr/local/bin/homer-app

 /usr/local/bin/homer-app   -create-table-db-config
 /usr/local/bin/homer-app   -populate-table-db-config

Br, Aqs

On Thu, Jan 14, 2021 at 4:16 PM mveerdon <notifications@github.com> wrote:

[2021-01-14 12:27] mveerdon commented on #75
the first step goes wrong

[code]

[2021-01-14 15:40] lmangani commented on #75
adjust...
` systemctl status postgres-12`

[2021-01-14 15:43] mveerdon commented on #75
[code]

[2021-01-19 07:12] mveerdon commented on #75
Hi @aqsyonas  any ideas howto solve this postgres-12 error (of my last post)?

[2021-01-20 14:53] CoderJoeW commented on #75
This is also broken for me brand new minimal centos 7 install plenty of memory/disk/cpus seems to me that the installer is broken

[2021-01-20 15:50] lmangani commented on #75
@flaminggenius what is consuming the memory/disk/cpu exactly? please post some details. The installer is definitely not the issue if we're talking about load, perhaps rather about optimizing the settings (no magic)

[2021-01-20 17:11] CoderJoeW commented on #75
@lmangani  you misunderstand what I was saying a brand new centos 7 out if the box no load issues

This installer fails

It is broken

Please create a new centos 7 minimal install and try to run installer

[2021-01-20 17:46] lmangani commented on #75
Ok. Please attach your logs if that's the case

[2021-01-20 18:06] CoderJoeW commented on #75
Steps to reproduce

1. Install VM with new centos 7 minimal install
2. Run  yum install redhat-lsb-core epel-release curl wget git -y
3.  yum upgrade -y
4. reboot
5. cd /usr/src
6. wget https://github.com/sipcapture/homer-installer/raw/master/homer_installer.sh
7. chmod +x homer_installer.sh
8. ./homer_installer.sh

As mentioned by the OP it seems that the installer is failing because of something

[2021-01-20 18:06] CoderJoeW commented on #75
@lmangani

[2021-01-20 20:25] CoderJoeW commented on #75
Hello @mveerdon @lmangani

I have found a way to force it through

You must be on a clean install(meaning you have not run the installer yet

Find the line that says

local cmd_locatepostgre="$(locate postgresql-12-setup)"

Replace this with

local cmd_locatepostgre="/usr/pgsql-12/bin/postgresql-12-setup"

Run the installer and it will work

I don't specifically know why it is not working but the

[2021-01-21 08:16] mveerdon commented on #75
Is there a way to 'wipe' my Centos installation to a fresh start point?

[2021-01-21 08:21] aqsyonas commented on #75
You would need to restart OS on your server for this.

Br, Aqs

On Thu, Jan 21, 2021 at 1:17 PM mveerdon <notifications@github.com> wrote:

[2021-01-21 22:40] CoderJoeW commented on #75
@mveerdon If you had previously run the installer you will need to completely reinstall the OS

@lmangani  Anybody currently interested in fixing the installer?

[2021-01-21 23:07] lmangani commented on #75
@flaminggenius absolutely that's why we're here. @aqsyonas could you check this out w/ the team?

[2021-01-21 23:15] CoderJoeW commented on #75
@lmangani Appreciate it.

[2021-01-21 23:17] CoderJoeW opened #76 "[Suggestion] Stop installer upon errors"
Reference [https://github.com/sipcapture/homer-installer/issues/75](https://github.com/sipcapture/homer-installer/issues/75)

Instead of the installer continuing upon receiving an error the installer should break and print out the error code

[2021-01-22 10:42] aqsyonas commented on #75
@CoderJoeW @lmangani sure, i will check this.

[2021-02-01 10:11] aqsyonas commented on #75
@CoderJoeW could you please take the latest installer script, issue should be fixed now.
Thanks for the report.

[2021-02-12 02:33] fabneto opened #77 "No data in Homer"
Hi!

My name is Francisco! I'm a totally newbie with Homer and if possible I'd like to ask for some help.

I've followed exactly the instruction and execute homer_installer without any issue. But after the installation and configuration of hep.conf in a asterisk server, I can't see any data on postgresql database neither on homer UI.

I've checked for firewalls, open ports, connectivity but I didn

[2021-02-12 02:35] fabneto commented on #77
By the way, the heplifyp-server.log file is located on the / path of the server, and as listed below they show nothing special for me:

2021-02-11T23:08:02-03:00 INFO start heplify-server 1.32 with config.HeplifyServer{HEPAddr:"0.0.0.0:9060", HEPTCPAddr:"", HEPTLSAddr:"0.0.0.0:9060", ESAddr:"", ESDiscovery:true, ESUser:"", ESPass:"", LokiURL:"", LokiBulk:200, LokiTimer:4, LokiBuffer:100000, LokiHE

[2021-02-12 02:49] fabneto commented on #77
some more information from heplifyp.log, now that I've learned how to configure the debug
I have modified the IP addresses for security purposes ok!

[root@homer etc]# tail -f /heplify-server.log

[34396052_58593492@206.147.80.38 2021-02-11T23:41:46.058349-03:00 {"protocolFamily":2,"protocol":17,"srcIp":"X.Y.Z.72","dstIp":"206.147.80.41","srcPort":13883,"dstPort":23409,"timeSeconds":1613097706,"ti

[2021-02-12 08:34] lmangani commented on #77
@fabneto welsome to #homer! it seems you are not sending any SIP #HEP data, just RTCP. Could you describe in full detail the capture-agent part, or what's sending traffic to it.

[2021-02-12 14:13] fabneto commented on #77
I'm using an Asterisk PBX to send the data to Homer. In fact we have more servers, but we are testing the solution with this first PBX that has a low to medium utilization (about 100 calls per day).
Below is the asterisk configuration:

Asterisk 13.30.0

/etc/asterisk/hep.conf
[general]
enabled = yes                       ; Enable/disable forwarding of packets to a

[2021-02-12 19:42] posey311r opened #78 "Repository Failure"
I am attempting to install Homer on clean CentOS 7 server and both the qxip_sipcapture and qxip_sipcapture-source repositories are failing.

failure: repodata/repomd.xml from qxip_sipcapture: [Errno 256] No more mirrors to try.
https://packagecloud.io/qxip/sipcapture/el/7/x86_64/repodata/repomd.xml: [Errno 14] HTTPS Error 302 - Found
Generating yum cache for qxip_sipcapture-source...
https://packa

[2021-02-12 20:05] lmangani commented on #78
Hello @posey311r
Which guide are you following exactly?

[2021-02-12 20:29] posey311r commented on #78
I am using this page:https://github.com/sipcapture/homer-installer

After installing redhat-lsb-core, I copied and pasted the commands while root:cd /usr/src
wget https://github.com/sipcapture/homer-installer/raw/master/homer_installer.sh
chmod +x homer_installer.sh
./homer_installer.shDuring the install process, the repositories I listed fail.

    On Friday, February 12, 2021, 12:06:12 PM PST, L

[2021-02-12 20:32] posey311r commented on #78
I have also attempted this using the manual install and quick install methods on this page:https://github.com/sipcapture/homer/wiki/Quick-Install

I have tried this on clean CentOS 7 and Debian 9 systems and the repositories fail each time.

    On Friday, February 12, 2021, 12:29:26 PM PST, Robert Posey <posey311r@yahoo.com> wrote:

  I am using this page:https://github.com/sipcapture/homer-insta

[2021-02-15 15:12] fabneto commented on #77
Hi! do you have any other tip or need some more information ??

[2021-02-22 18:35] posey311r commented on #78
Any update on this?    On Friday, February 12, 2021, 12:32:37 PM PST, Robert Posey <posey311r@yahoo.com> wrote:

  I have also attempted this using the manual install and quick install methods on this page:https://github.com/sipcapture/homer/wiki/Quick-Install

I have tried this on clean CentOS 7 and Debian 9 systems and the repositories fail each time.

    On Friday, February 12, 2021, 12:29:26

[2021-02-23 13:09] lmangani commented on #78
I can't reproduce your issue anywhere and we installed this as part of a workshop just days ago without issues.
So unless you have some updates, it sounds like a firewalling issue of sorts. Feel free to extend with more details.

[2021-02-23 13:09] #78 closed

[2021-02-25 08:45] mveerdon commented on #75
@CoderJoeW @lmangani want to try to re-install OS and Homer7 again.

What are the minimal OS specs to run Homer7 on a VM?

[2021-02-26 16:45] CoderJoeW commented on #75
@mveerdon  I don't think there are official recommended specs. I think it will depend largely on the amount of traffic sent to homer. If not much traffic then a 2 core 4GB ram centos7 machine should be fine

@aqsyonas  Will give it a shot when I get a chance

[2021-03-15 16:34] mveerdon commented on #75
Hi,
I have Homer7 now running on a new Centos7 VM server.

Trying to setup that my Oracle SBC are sending syslog data into Homer. Try to find the right config and information how to do it.

Any advices?

[2021-03-15 17:00] CoderJoeW commented on #75
@mveerdon  Probably not gonna get much help with that here and its a bit off topic.

Maybe try here: https://groups.google.com/g/homer-discuss

@aqsyonas  Installer works fine I believe this issue can be marked as fixed

[2021-03-15 17:08] lmangani commented on #75
@CoderJoeW thanks for helping out! @mveerdon the answer is horaclifix but its not part of the official project, for obvious reasons

[2021-03-15 17:08] #75 closed

[2021-03-16 08:38] mveerdon commented on #75
Thanks for this info & the support!

[2021-07-14 02:36] vlad-dc opened #81 "ERROR: You need the following minimal set of commands installed"
Hello,

I tried to install homer with bash script Auto-Installer (beta 7.7) on Debian 10 and 9, but getting next error:
______
ERROR: You need the following minimal set of commands installed:

       lsb-release wget curl git
______
The system have all commands:
lsb_release -si
Debian
lsb_release -sr
10

Best regards.

[2021-07-14 09:43] andycol commented on #81
Thanks for poining that out! i have just patched it and merged the change to master.
Please do a git pull and it will now work

fixed [lsb fix](https://github.com/sipcapture/homer-installer/commit/14bf2f06e0db3a194c80f5897d3e713ffeafdeab)

[2021-07-14 09:43] #81 closed

[2021-07-14 18:56] vlad-dc commented on #81
Andrew,

Works fine right now. Thanks!

Regards!

[2022-01-23 19:50] bazboutey opened #83 "cannot send data from sngrep to homer"
Hello,

I installed homer with the script and everything is good. i can acces to the interface and everything seems ok on that side. My issue is when i want to send data from sngrep to homer, it seems like it does not go at all.

**sngrep  port 5060 -H udp:xxx:9060 --no-interface
Dialog count: 8**

on sngrep i have 8 event but no data in my homer

[2022-01-23 20:00] lmangani commented on #83
Can you see other traffic? Or this is a general issue? Are firewall ports open? Did you select a time range? etc etc

It's usually a good idea to run the [hepgen test](https://github.com/sipcapture/homer/wiki/HEPGEN-Test) on a new install to make sure you can see traffic in general before troubleshooting other HEP clients. You can run hepgen from both local and a remote system to be sure everythin

[2022-01-23 20:29] ghost commented on #83
Thank you for your answer

i stopped the firewall on the homer server, and when i run the hepjen test homer receive the datas, seems like it is on my side. can i have a hint please ?

the range in the homer interface is the last 15 minutes

i run the test on both servers and both works

[2022-01-24 00:39] lmangani commented on #83
If hepgen works, I would suggest using one of our agents, such as `heplify` to capture and send traffic from remote hosts

[2022-01-24 00:39] #83 closed

[2022-02-01 10:37] chabeaumont opened #84 "Install failed on debian 10/11"
Hello everyone,

I'm very newbie to the project, i'm trying to install homer on debian 10 or 11. Both have the same issue during the install with the install script link to the gpg key on package cloud.

_Installing Homer-App
Detected operating system as debian/buster.
Checking for curl...
Detected curl...
Checking for gpg...
Detected gpg...
Running apt-get update... done.
Installing debian-archiv

[2022-02-01 10:48] andycol commented on #84
Hi

Can you confirm your server has connection to 52.222.196.119 on port 443?
you can test with either telnet 52.222.196.119 443
or nc -zv 52.222.196.119  443
if it works you should see
Connection to 52.222.196.119 443 port [tcp/https] succeeded!

[2022-02-01 10:52] lmangani commented on #84
The full repository setup process is also available here: https://packagecloud.io/qxip/sipcapture/install

[2022-02-01 10:57] chabeaumont commented on #84
Thank you for your quick answers, seems to work :

root@DIGPRHOMER01:/homer-installer# telnet 52.222.196.119 443
Trying 52.222.196.119...
Connected to 52.222.196.119.
Escape character is '^]'.
¨
Connection closed by foreign host.
root@DIGPRHOMER01:~/homer-installer# nc -zv 52.222.196.119 443
server-52-222-196-119.cdg50.r.cloudfront.net [52.222.196.119] 443 (https) open

[2022-02-01 11:24] chabeaumont commented on #84
Yes, i've tried a wget but failed :

_root@DIGPRHOMER01:~/homer-installer# wget --content-disposition https://packagecloud.io/qxip/sipcapture/packages/debian/buster/homer-app_1.4.30_amd64.deb/download.deb
--2022-02-01 12:17:22--  https://packagecloud.io/qxip/sipcapture/packages/debian/buster/homer-app_1.4.30_amd64.deb/download.deb
Resolving packagecloud.io (packagecloud.io)... 13.57.99.230, 52.52.

[2022-02-01 14:41] chabeaumont commented on #84
Found the problem. It was an (strange) issue wih my firewall. Working great now. Thanks for your times and your helps.

[2022-02-01 14:41] #84 closed

[2022-05-06 09:34] steveolu commented on #56
heplify.service                      loaded activating auto-restart Captures interestng packets from wire and sends them to Heplify-Server

after installation, heplify is not active. How can I fix this?

[2022-05-06 09:40] lmangani commented on #56
@steveolu check the logs and resolve the errors preventing it from starting. This is a thread from 2019

[2022-10-26 13:01] olaotanedagbami opened #85 "Unable to Install Homer on Ubuntu 22.04"
Hello please I am trying to install Homer 7 on my Ubuntu 22.04 server using both the quick install  method but this is the error i got
ERROR: Sorry, this Installer does not support your OS yet! Please follow instructions in the HOW-TO for manual installation & setup available at http://sipcapture.org

I tried the manual method which requires i install heplify and I got this E: Unable to locate pac

[2022-10-26 13:06] lmangani commented on #85
Hello @olaotanedagbami
Our packages are all almost identical (static binaries) but OSes like to make this quite hard with versions.

Our repository supports Debian stretch, buster, bullseye, Ubuntu focal and bionic, and RHEL 7/8.

You can either force a repository from a previous version or use the debian equivalent until we expand it.